.splashScreen {
  background: url("/assets/images/wallpaper-minecraft.jpg") center center/cover;
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  line-height: 1;

  .logo {
    background: url("/assets/images/Minecraft-Logo.png") no-repeat center;
    background-size: 70%;
    width: 800px;
    min-height: 150px;
    margin-top: 8vh;
  }

  font-size: 24px;
  color: white;
  text-shadow: 2px 2px black;
  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: hotpink;
  }
  h1 {
    font-family: "minecraft-heavy";
    color: black;
    text-shadow: none;
  }

  p {
    margin: 3vh 0;
  }

  .startGame {
    animation: wiggle 3s 2s ease-in-out infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(0deg);
    }
    12% {
      transform: rotate(5deg);
    }
    16% {
      transform: rotate(-5deg);
    }
    20% {
      transform: rotate(0deg);
    }
  }

  button {
    width: 300px;
  }
}

.instructionsDisplay {
  padding: 30px;
  width: 800px;
  text-align: center;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: calc(50% - 400px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  line-height: 1.7;

  & img {
    margin: auto;
  }
  & button {
    margin: 20px auto;
  }
}
