@import "utils";
@import "sidebar";

body {
  display: grid;
  grid-template-columns: auto 200px;
  background: url("/assets/images/back-cave.png") no-repeat center center/cover;
}

main {
  .boardContainer {
    margin: auto;
    display: grid;
    width: 100vmin;
    height: 100vmin;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }
}

.sky {
  background-color: lightskyblue;
}

.dirt {
  background: sienna;
  background: url("/assets/images/dirt.jpeg") no-repeat center center/cover;
}
.grass {
  background: rgb(11, 139, 22);
  background: url("/assets/images/ground-grass.jpeg") no-repeat center
    center/cover;
}

.wood {
    background: 
}
