@import "splash";
@import "sidebar";

@font-face {
  font-family: "minecraft";
  src: url("/assets/fonts/Minecraft.ttf");
}

* {
  font-family: "minecraft", "Courier New", Courier, monospace;
  box-sizing: border-box;
}

body {
  // cursor: url("/assets/cursors/pickaxe-cursor.cur"), auto;
  display: grid;
  grid-template-columns: auto 200px;
  background: url("/assets/images/back-cave.png") no-repeat center center/cover;
  position: relative;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  .boardContainer {
    margin: auto;
    display: grid;
    width: 100vmin;
    height: 100vmin;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }
}

.sky {
  background-color: lightskyblue;
}

.cloud {
  background-color: whitesmoke;
}

.dirt {
  background: sienna;
  background: url("/assets/images/dirt.jpeg") no-repeat center center/cover;
}
.grass {
  background: rgb(11, 139, 22);
  background: url("/assets/images/ground-grass.jpeg") no-repeat center
    center/cover;
}

.rock {
  background-color: gray;
  background: url("/assets/images/stone.jpg") no-repeat center center/cover;
}

.wood {
  background-color: saddlebrown;
  background: url("/assets/images/wood.png") no-repeat center center/cover;
}

.leaves {
  background-color: olivedrab;
  background: url("/assets/images/leaves.jpeg") no-repeat center center/cover;
}

.diamonds {
  background-color: turquoise;
  background: url("/assets/images/diamond.png") no-repeat center center/cover;
}

.userMessage {
  position: absolute;
  top: 20px;

  align-self: center;
  z-index: 200;
  color: black;
  font-size: 22px;
  // text-shadow: 2px 2px black;
  animation: fadeout 0.5s 3s;

  @keyframes fadeout {
    100% {
      opacity: 0;
    }
  }
}

.restartContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
button {
  background-color: #c6c6c6;
  border-radius: 0;
  padding: 10px 15px;
  font-size: 18px;
  border-width: 4px;
  border-color: white #484848 #484848 white;
  &:hover {
    background-color: white;
  }
}
